crypto.o
net.o
common.o
db.o
py.o
hgd-admin
hgd-netd
hgd-playd
hgd-mk-pydoc
pylib/hgd/*.pyc
hgdc
tags
*.core
Makefile
aclocal.m4
config.h
config.h.in
config.log
config.status
configure
autom4te.cache
*.swp
*~
