*.core
*.swp
*~
Makefile
aclocal.m4
autom4te.cache
common.o
config.h
config.h.in
config.log
config.status
configure
crypto.o
db.o
hgd-admin
hgd-mk-pydoc
hgd-netd
hgd-playd
hgdc
mplayer.o
net.o
plugins/*.pyc
py.o
pylib/hgd/*.pyc
tags
